body {
    font-family: Arial, sans-serif;
    display: flex;
    text-align: center;
    min-height: 100vh;
}



table {

  position: absolute;
  top: 0px;
  left: 0px;
  width: 500px;
  height: 300px;

  border-collapse: collapse; 

}


input[type="button"]{

  width: 200px;
  height: 100px;

}

input[value]{

  font-size: 80px;

}

input[type="text"] {

  position: absolute;
  top: 450px;
  left: 0px;
  width: 600px;
  height: 150px;

}